div{
  position: relative;
}
.boxType{
  border: solid 1px black;
  padding: 1.5%;

}
#container{
  position: relative;
  height: 100px;
  width: 100%;
}
#mainHeader{
  margin-top: 2%;
  margin-bottom: 3%;
  height : 100%;
  width : 96%;
}
#nameLibrairie{
  position: relative;
  height: 50%;
  width : 95%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}
#menu{
  position: relative;
  height: 50%;
  width : 95%;
  margin-left: auto;
  margin-right: auto;
}
#mainBox{
  padding-bottom: 5%
}
#mainBoxArticles{

}
#mianBoxSide{

}
#boxLivres{

}
#boxEvenements{

}
