.box {
	border : solid 5px black;
	background-color : #28200D;
}

.article {
	position : absolute;
	background-color: #534114;
	height :12%;
	width : 25%;
}

.livre {
	position : absolute;
	height : 100%;
	width : 100%;
}

#filtre {
	top: 3%;
	left : 14%;
	height : 95%;
	width : 15%; 
	position : fixed;
	z-index : 1
 }

#top-menu {
	top: 3%;
	left : 30%;
	height : 20%;
	width : 55%; 
	position : absolute;
	z-index : 2
}

#catalogue {
	top: 25%;
	left : 30%;
	height : 350%;
	width : 55%; 
	position : absolute;
	z-index : 1;
}

#background {
	top: 0%;
	left : 0%;
	position : fixed;
	height : 100%;
	width : 100%;
}

#livre-1 {
	top: 5%;
	left : 15%;
}

#livre-2 {
	top: 5%;
	left : 55%;
}

#livre-3 {
	top: 25%;
	left : 15%;
}

#livre-4 {
	top: 25%;
	left : 55%;
}

#livre-5 {
	top: 45%;
	left : 15%;
}

#livre-6 {
	top: 45%;
	left : 55%;
}

#livre-7 {
	top: 65%;
	left : 15%;
}

#livre-8 {
	top: 65%;
	left : 55%;
}

#livre-9 {
	top: 85%;
	left : 15%;
}

#livre-10 {
	top: 85%;
	left : 55%;
}

h1 {
    margin : 10% 0 0 10%; /* haut, droite, bas, gauche (respectivement) */
    color : #FFFFFF;
    font : 300% georgia, palatino, serif;
    font-style : italic;
}

