.box {
	border : solid 5px black;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #0F0F0F;
}

body::-webkit-scrollbar
{
	width: 0.6vw;
	background-color: #0F0F0F;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#background {
	top: 0%;
	left : 0%;
	position : fixed;
	height : 100%;
	width : 100%;
}




.cat-button {
	background: #1A1A1A;
	color : #FFE4B5;
    height: 1vw;
	padding: calc(0.4vw + 0.6vh);
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
	transition: all 0.3s ease 0s;
	text-decoration : none;
	position : relative;
    margin-left: 0.3%;
}

.cat-button:hover {
	color:#FFE4B5 ;
	letter-spacing: 1px;
	background: #000000;
	transition: all 0.3s ease 0s;
}

#top-menu {
	top: 3%;
	left : 30%;
	height : 20%;
    max-height: 20vw;
    min-width: 400px;
	width : 55%;
	position : absolute;
	background-color: #271700;
	background-image : url(engrenage.png);
	background-position : bottom 65% right 0%;
	background-size: 100%;
}

#titre {
    font-size: 0;
    position: relative;
    height: 50%;
    max-height: 50%;
    min-height: 50%;
    width: 100%;
    white-space: nowrap;
}

#top-menu #titre1 {
    padding: 4% 0% 0% 15%;
}

#titre1 h1 {
    color : #C9C902;
    font : georgia;
    font-size: calc(0.7vw + 2vh + 2vmin);
    font-style : italic;
    margin-top: 0;
    margin-bottom: 0;
}

#top-menu #titre2 {
    padding: 0% 0% 0% 20%
}

#titre2 h3 {
    color : #C9C902;
    font : calc(0.5vw + 1vh + 1vmin) georgia;
    font-style : italic;
}

#cat-header {
    font: calc(6px + 0.7vw) georgia;
    display: flex;
    vertical-align: top;
    height: 50%;
    flex-direction: row-reverse;
    position: relative;
    word-wrap: break-word;
    align-items: flex-end;
}






#filtre {
	top: 3%;
	left : 14%;
	height : 95%;
	width : 15%;
	position : fixed;
	background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0, rgb(0, 0, 0)),
	color-stop(0.27, rgb(39, 23, 0))
);
}

#back-button {
	width : 30%;
	height : 10%;
	margin : 30px 0 0 30px;
	transition: all 0.3s ease 0s;
	background-color : #3F2602;
 }

#back-button img {
	width : 90%;
	height : 90%;
}

#back-button:hover {
	border-color : gold;
	background-color: #382200;
	border-radius : 10px;
	padding : 2px;
	width : 33%;
	height : 10.5%;
	transition: all 0.3s ease 0s;
	letter-spacing: 1px;
}

ul {
	list-style-type: none;
	color : white;
	text-decoration : none;
}

li {
	padding : 15px;
	color : #FFE4B5;
}

hr {
	color : #FFFFFF;
	text-align : center;
	width : 80%;
	position : relative;
}

#filtre h1 {
    margin : 30% 0 0 10%;
    color : #C9C902;
    font : 300% georgia;
    font-style : italic;
    text-shadow: 8px 8px 8px #000000;
}

input {
	margin: 1em;
	-webkit-transform: scale(1.5);
}





#catalogue {
	top: 25%;
	left : 30%;
	height : 350%;
	width : 55%;
	position : absolute;
	background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0, rgb(0, 0, 0)),
	color-stop(0.25, rgb(39, 23, 0))
);
}

.article {
	position : absolute;
	background-color: #534114;
	height :12%;
	width : 25%;
}

.livre {
	position : absolute;
	height : 100%;
	width : 100%;
}

.titre-livre {
    color : #FFFFFF;
    font : 100% georgia;
    text-align : center;
}

.titre-livre strong {
	color : #C9C902;
	text-shadow : #FC0 1px 0 10px;
	font-style : italic;
}

#livre-1 {
	top: 5%;
	left : 15%;
}

#livre-2 {
	top: 5%;
	left : 55%;
}

#livre-3 {
	top: 25%;
	left : 15%;
}

#livre-4 {
	top: 25%;
	left : 55%;
}

#livre-5 {
	top: 45%;
	left : 15%;
}

#livre-6 {
	top: 45%;
	left : 55%;
}

#livre-7 {
	top: 65%;
	left : 15%;
}

#livre-8 {
	top: 65%;
	left : 55%;
}

#livre-9 {
	top: 85%;
	left : 15%;
}

#livre-10 {
	top: 85%;
	left : 55%;
}


#t-livre-1 {
	margin : 57% 0 0 -45%;
}

#t-livre-2 {
	margin : -5.5% 0 0 36%;
}

#t-livre-3 {
	margin : 57% 0 0 -45%;
}

#t-livre-4 {
	margin : -5.5% 0 0 36%;
}

#t-livre-5 {
	margin : 57% 0 0 -45%;
}

#t-livre-6 {
	margin : -5.5% 0 0 36%;
}

#t-livre-7 {
	margin : 57% 0 0 -45%;
}

#t-livre-8 {
	margin : -5.5% 0 0 36%;
}

#t-livre-9 {
	margin : 57% 0 0 -45%;
}

#t-livre-10 {
	margin : -5.5% 0 0 36%;
}
